# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Traffic Light (Python)/*
!/Traffic Light (Python)/task/
/Traffic Light (Python)/task/*
!/Traffic Light (Python)/task/traffic_light.py
!/Traffic Light (Python)/task/Test.py
